@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
    display: block;
}

h1 {
    text-align: center;
}

.list {
    display: flex;
}
.list-item {
    display: inline-flex;
    flex-direction: column;
    flex: 50;
    max-width: 50%;
    height: 300px;
    justify-content: center;
    align-items: center;
}